<div class='content-section-a'>
	<div class='container'>
		<h1>Listing Projects</h1>
	</div>
</div>

<div class='content-section-b'>
	<div class='container'>	
		<%= link_to new_project_path, class: "btn btn-primary" do %>
								<i class="glyphicon glyphicon-plus"></i> New Project
								<% end %>	
		<p></p>

		<table class='table'>
			<tbody>	
  				<tr>
    				<th>Title</th>
    				<th>Description</th>
					<th>Minimum Duration</th>
					<th>Maximum Duration</th>
					<th>Predicted Duration</th>
					<th> </th>
					<th> </th>
  	  			</tr>
 
  	  			<% @projects.each do |project| %>
  	  			<tr>
    				<td><%= link_to project.title, project_path(project) %></td>
    				<td><%= project.description %></td>
					<td><%= project.min_duration %></td>
					<td><%= project.max_duration %></td>
					<td><%= number_with_precision(project.predicted_duration, precision: 1) %></td>
					<td><%= link_to edit_project_path(project) do %>
						<%= icon('edit')%>
						<% end %></td>
					<td><%= link_to project_path(project),
	                				method: :delete,
	                				data: { confirm: 'Are you sure you want to delete this? (Cannot be undone)' } do %>
									<%= icon('trash')%>
						<% end %></td>
    			</tr>
  	  			<% end %>
			</tbody>
		</table>
	</div>
</div>