
<div class='content-section-a'>
	<div class='container'>
		<h1>Detail for <%= @project.title %></h1>
	</div>
</div>	

<div class='content-section-b'>
	<div class=container>
		<%= link_to '<-- Back', projects_path %><br> 
 
		<table class='table'>
			<tbody>
				<tr>
					<td>Description</td>
					<td><%= @project.description %></td>
				</tr>
				<tr>
					<td>Minimum Duration</td>
					<td><%= @project.min_duration %></td>
				</tr>
				<tr>
					<td>Maximum Duration</td>
					<td><%= @project.max_duration %></td>
				</tr>
				<tr>
					<td>Predicted Duration</td>
					<td><%= @project.predicted_duration %></td>
				</tr>
			</tbody>
		</table>
		<%= link_to 'Edit this Project', edit_project_path(@project) %><br>
	</div>
</div>

<div class='content-section-a'>
	<div class='container'>
		<h2>Tasks for <%= @project.title %></h2>
		<table class='table'>
			<tbody>
				<tr>
					<th>Description</th>
					<th>Average Duration</th>
					<th>Maximum Duration</th>
					<th>ToC Factor</th>
					<th>Due Date</th>
					<th>Complete?</th>
					<th></th>
					<th></th>
				</tr>

				<% @project.tasks.each do |task| %>
				<tr>
					<td><%= task.description %></td>
					<td><%= task.av_duration %></td>
					<td><%= task.max_duration %></td>
					<td><%= task.toc_factor %></td>
					<td><%= task.due_date %></td>
					<td></td>
					<td><%= link_to 'Edit', edit_project_task_path(task) %></td>
					<td><%= link_to 'Delete', project_task_path(task),
			                method: :delete,
			                data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<div>

<div class='content-section-b'>
	<div class='container'>
  	  <h2>Add a task:</h2>
	  <%= form_for([@project, @project.tasks.build]) do |f| %>
	  <% if @project.tasks.build.errors.any? %>
	      <div id="error_explanation">
	        <h2>
	          <%= pluralize(@project.tasks.build.errors.count, "error") %> prohibited
	          this task from being saved:
	        </h2>
	        <ul>
	          <% @project.tasks.build.errors.full_messages.each do |msg| %>
	            <li><%= msg %></li>
	          <% end %>
	        </ul>
	      </div>
	    <% end %>
	  <div class='form-group'>
    	  <%= f.label :description %><br>
    	  <%= f.text_field :description %>
	  </div>
	  <div class='form-group'>
    	  <%= f.label :av_duration %><br>
    	  <%= f.text_field :av_duration %>
	  </div>
	  <div class='form-group'>
    	  <%= f.label :max_duration%><br>
    	  <%= f.text_field :max_duration %>
	  </div>
      <%= f.submit %>
	  <% end %>
	</div>
</div>